
@{
    ViewData["Title"] = "Authentication";
}

<div class="card-body">
    <h1>Authentication</h1>
    <div class="container bg-light bg-white rounded-0">
                <div class="row">
                    <div class="col-md-6 my-md-auto align-content-center">
                        <h3 class="display-6">To use WhatsApp on Cloud:</h3>

                        <ol>
                            <li class="blockquote">Open WhatsApp on your phone</li>
                            <li class="blockquote">Open WhatsApp on your phone</li>
                            <li class="blockquote">Point your phone to this screen to capture the code</li>
                        </ol>

                    </div>
                    <div class="col-md-6 my-md-auto align-content-center">
                        <img class="img-fluid" height="264" width="264" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png"/>
                    </div>
                </div>
            </div>
</div>

