@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="card-body">
    <div class="column">
        <div class="row">
            <div class="col-md-3">
                <div class="border rounded my-md-auto bg-info p-md-3">
                    <div class="flex-md-column">
                        <h1 class="display-6 text-white">1000</h1>
                        <h1 class="lead text-white-50">Queued</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded my-md-auto bg-success p-md-3">
                    <div class="flex-md-column">
                        <h1 class="display-6 text-white">1000</h1>
                        <h1 class="lead text-white-50">Sent</h1>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded my-md-auto bg-warning p-md-3">
                    <div class="flex-md-column">
                        <h1 class="display-6 text-white">1000</h1>
                        <h1 class="lead text-white-50">Failed</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border rounded my-md-auto bg-danger p-md-3">
                    <div class="flex-md-column">
                        <h1 class="display-6 text-white">1000</h1>
                        <h1 class="lead text-white-50">Rejected</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

