@{
    ViewData["Title"] = "Documentation";
}

<div class="card-body">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <img class="img-responsive" src="~/img/documentation.png"/>
        </div>
        <div class="col-lg-6 my-auto">
            <h1 class="display-4"><strong>Quickstarts</strong></h1>
            <div class="justify-content-center">
                <p>Our WhatsApp Quickstart shows you a common WhatsApp integration using six popular web languages as well as cURL. If you're looking for the fastest way to test the ins and outs of working with WhatsApp with WhatsApp Garage Programmable Messaging, try the quickstart in your language of choice.</p>
                <br />
                <a asp-action="#" class="btn btn-outline-dark">Documentation</a>
            </div>
        </div>
    </div>
</div>