
@{
    ViewData["Title"] = "Help";
}

<div class="card-body">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <img class="img-responsive" src="~/img/help.png"/>
        </div>
        <div class="col-lg-6 my-auto">
            <h1 class="display-4"><strong>Help</strong></h1>
            <div class="justify-content-center">
                <p>We're here with the help and advice you need to bring your idea to life. When you're ready to get online, we're prepped, trained, and ready to guide you from start to success.</p>
                <br />
                <p class="display-6">
                    <strong>Join our community</strong> 
                    &nbsp;
                    <a href="@Server.Constants.Configs.DiscordCommunity">
                        <img height="48" src="~/img/social/discord.png"/>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>