<div class="card-body">
    <div class="row">
        <div class="col-lg-6 my-auto">
            <h1 class="display-6">Send automated Invoices/Reports on WhatsApp with your existing <strong>ERP</strong></h1>
            <p>Compatible with &nbsp; <img src="~/img/compatiblewith.png" height="30px" width="249px"/></p>
            <p>Join 5 million other businesses on WhatsApp. Connect with over 2 billion users on the world’s most popular app with WhatsApp Business API. Improve the quantity and the quality of your interaction with WhatsApp Garage</p>
            <br />
            <a asp-controller="User" asp-action="Register" class="btn btn-outline-dark">Get started for <strong>free</strong></a>
        </div>
        <div class="col-lg-6 my-auto">
            <img class="img-fluid" src="~/img/home.png"/>
        </div>
    </div>
</div>